tabContainer {
    width: 100%;
}

tabContent {
    width: 100%;
}

link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
    cursor: pointer;

    /* [theme.fn.smallerThan('sm')]: {
        height: rem(42),
        display: 'flex',
        alignItems: 'center',
        width: '100%',
    }

    ...theme.fn.hover({
        textDecoration: 'underline',
    }), */
}

subLink {
    width: 100%;
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-md);

    &:hover {
        background-color: var(--mantine-color-gray-0),
    }

    /* &:active {
        theme.activeStyles
    } */
}

dropdownFooter {
    background-color: var(--mantine-color-gray-0);
    /* margin: `calc(${var(--mantine-spacing-md)} * -1)`; */
    margin-top: var(--mantine-spacing-sm);
    /* padding: `${var(--mantine-spacing-md)} calc(${var(--mantine-spacing-md)} * 2)`, */
    padding-bottom: var(--mantine-spacing-xl);
    border-top: var(--mantine-color-gray-1);
}

linkMobile {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    font-weight: 500;
    border-radius: 0;
    font-size: var(--mantine-font-size-sm);
    background: #000;

    /* [theme.fn.smallerThan('sm')]: {
        height: rem(42),
        display: 'flex',
        alignItems: 'center',
        width: '100%',
    } */

    &:hover {
        text-decoration: underline;
        background: '#000'
    }
}


hiddenMobile {
    /* [theme.fn.smallerThan('sm')]: {
        display: 'none',
    } */
}

hiddenDesktop {
    /* [theme.fn.largerThan('sm')]: {
        display: 'none',
    } */
}